# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
# Temporary and analysis files
temp_decompile/
*.txt
!CHANGELOG.md
!README.md
!CONTRIBUTING.md
!LICENSE

# VS Code
.vscode/
